<h1>Demo#index</h1>
<p>Hello World from the copied page</p>

ID: <%= @id %> <br />
Next Page: <%= @page +1 %><br />

<%= 1 + 1 %>

<% target = "world" %>

<%= "Hello #{target}" %>

<% @array.each do |n| %>
  <%= n %></br>
<% end %>


<%= link_to("google", "http://google.com") %>

<%= link_to("Index",{:controller=> 'demo', :action => 'index'}) %>

<hr />
<%= params.inspect %>